/* Webfont: Banny-BoldRound */@font-face {
    font-family: 'BannyRound';
    src: url('../fonts/Banny-BoldRound.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Banny-BoldRound.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/Banny-BoldRound.woff') format('woff'), /* Modern Browsers */
         url('../fonts/Banny-BoldRound.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/Banny-BoldRound.svg#Banny-BoldRound') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}

*,*::before,*::after {
    box-sizing:border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: center;
}


a{
    text-decoration: none;
}

.header {
    height: 100vh;
    max-width: 100%;
    background-image: url(../img/Group\ 5.jpg);
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}

.nav {
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    margin-bottom: 100px;
}

.nav__menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    max-height:100px;
}

.nav__menu li{
    flex: 1 1 133px;
    transition: .7s;
}

.nav__menu li a {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
    text-align: center;
    color:#fff;
    line-height: 100px;
    display: block;
}

.nav__menu .logo {
    padding-top: 25px;
}

.nav__menu li:hover {
    background-color: #E8C300;
}

.nav__menu li:nth-of-type(5):hover {
    background-color: transparent;
}

.header__container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.header__left {
    flex-basis: 10%;
}

.header__center {
    flex-basis: 80%;
}

.header__right {
    flex-basis: 10%;
}

.header__left p{
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 12px;
    transform: rotate(180deg);
    writing-mode: vertical-lr;
    color:#fff;
    margin-left: 30%;
}

.h3 {
    font-size: 12px;
    font-weight: 700;
    line-height: 14px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.title {
    font-family: 'BannyRound';
    font-size: 96px;
    text-transform: uppercase;
    line-height: 139px;
    position: relative;
    margin-bottom: 30px;

}

.title::after {
    content: "";
    width: 60px;
    height: 5.11px;
    background-color: #E8C300;
    border-radius: 50px;
    position: absolute;
    transform: translateX(-50%);
    top: 100%;
    left: 50%;
}

.links {
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items:center;
    /* нужно 90px */
    margin-bottom: 7%;
}

.link1 {
    display: block;
    width: 200px;
    height: 60px;
    border-radius: 5px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.5);
    color:#fff;
    text-align: center;
    margin-right: 40px;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 60px;
    transition: .7s;
}

.link1:hover {
    color: #fff;
    background-color: #E8C300;
}

.link2 {
    display: block;
    width: 200px;
    height: 60px;
    border-radius: 5px;
    background-color: transparent;
    color:#fff;
    border: 1px solid rgba(255, 255, 255, 0.5);
    text-align: center;
    font-weight: bold;
    font-size: 12px;
    line-height: 60px;
    transition: .7s;
}

.link2:hover {
    color:#fff;
    background-color: #E8C300;
}

.header__button {
    width: 60px;
    height: 60px;
    border-radius:50%;
    border: 1px solid rgba(255, 255, 255, 0.5);
    margin:0 auto;
    transition: .7s;
}

.header__button i{
    font-weight: 900;
    font-size: 40px;
    line-height: 60px;
    transition: .7s;
}

.header__button a{
    color: #fff;
    text-decoration: none;
}

.header__button:hover{
    border: 1px solid #E8C300;
}

.header__button a:hover{
    color:#E8C300;
}

.facebook,.twitter, .instagram {
    margin-bottom: 40px;
    font-size: 20px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius:50%;
    border: 1px solid rgba(255, 255, 255, 0.5);
    transition: .7s;
}
.facebook a,.twitter a, .instagram a{
    color: #fff;
    text-decoration: none;
    transition: .7s;
    display: block;
}

.facebook:hover,.twitter:hover, .instagram:hover {
    border: 1px solid #E8C300;
}

.facebook a:hover,.twitter a:hover, .instagram a:hover {
    color:#E8C300;
}


/* __________________________________________________________________ */
.section__about {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 0 auto;
    padding: 100px 204px 100px 81px;
    justify-content: center;
}

.row1 {
    flex:  0 1 600px;
    margin-right: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}

.row{}

.row2{
    flex: 0 1 475px;
    height: 475px;
    background-image: url(../img/about-img.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    filter: drop-shadow(0px 0px 50px rgba(0, 0, 0, 0.5));
    border-radius: 5px;
    position: relative;
}

.row2:after {
    content: "";
    display: block;
    width: 52.6%;
    height: 52.6%;
    background-color: transparent;
    border: 20px solid #E8C300;
    filter: drop-shadow(0px 0px 100px rgba(0, 0, 0, 0.5));
    border-radius: 5px;
    position: absolute;
    transform: translateX(-50%);
    top: 23%;
    left:100%;
}


h2 {
    font-family: 'BannyRound';
    font-size: 36px;
    line-height: 48px;
    text-transform: uppercase;
    margin-bottom:20px;
    position: relative;
}

h2:after {
    content: "";
    width: 60px;
    height: 5.11px;
    background-color: #E8C300;
    border-radius: 50px;
    position: absolute;
    transform: translateX(-50%);
    top: 110%;
    left: 50%;
}


h6 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 20px;
}

.row1 p {
    font-family: 'Open Sans', sans-serif;
    line-height: 24px;
}

/* _____________________________________________________ */

.section__team {
    width: 100%;
    min-height: 665px;
    background-image: url(../img/specialty-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    color:#fff;
}

.team {
    width: 100%;
    line-height: 100px;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.section__team-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 0 auto;
    text-align: center;
    padding: 0 100px 100px 193px;
    justify-content: center;
}

.row3{
    flex: 0 1 475px;
    min-height: 475px;
    background-image: url(../img/team-image.jpg);
    filter: drop-shadow(0px 0px 50px #000000);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    border-radius: 5px;
    position: relative;
    margin-right: 72px;
}

.row3:after {
    content: "";
    display: block;
    width: 250px;
    height: 250px;
    background-color: transparent;
    border: 20px solid #E8C300;
    filter: drop-shadow(0px 0px 100px #000000);
    border-radius: 5px;
    position: absolute;
    transform: translateX(-50%);
    top: 23%;
    left:0%;
}

.row4 {
    flex:  0 1 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}

/* ________________________________________________________________ */



.section__book-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 100px 150px 100px 100px;
    justify-content: center;
}

.bk {margin-bottom: 25px;}

.form {
    flex: 0 1 39.5%;
    margin-right: 72px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

input { 
    flex:0 1 49.1%; 
    min-height: 60px;
    margin-bottom:10px;
    background-color: #E5E5E5;
    color: rgba(51, 51, 51, 0.5);;
    outline: none;
    border: none;
    font-size:14px;
    line-height: 19px;
    border-radius:5px;
    text-indent: 20px;
}

select {
    flex:0 1 49.1%; 
    min-height: 60px;
    margin-bottom:10px;
    background-color: #E5E5E5;
    color: rgba(51, 51, 51, 0.5);;
    outline: none;
    border: none;
    font-size:14px;
    line-height: 19px;
    border-radius:5px;
    text-indent: 20px;
}
 /* поменять ховер у опшиона и выравнивание */
/* select option:hover{background-color: #E8C300;} */

input[type="text"], input[type="tel"], input[type="date"] {
    margin-right:10px
}

.submit{
    flex: 1 1 auto;
    min-width: 570px;
    margin-right: none;
    margin-bottom: none;
    color:#fff;
    background-color: #E8C300;;
    font-size: 12px;    
    font-weight: 700;
    line-height: 20px;
    text-align: center;
    cursor: pointer;
}

.row5 {
    flex: 0 1 45%;
    min-height: 475px;
    background-image: url(../img/booking-img.jpg);
    filter: drop-shadow(0px 0px 50px rgba(0, 0, 0, 0.5));
    border-radius: 5px;
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    position: relative;
}

.row5:after {
    content: "";
    display: block;
    width: 225px;
    height: 225px;
    background-color: transparent;
    border: 20px solid #E8C300;
    filter: drop-shadow(0px 0px 100px rgba(0, 0, 0, 0.5));
    border-radius: 5px;
    position: absolute;
    transform: translateX(-50%);
    top: 23%;
    left:100%;
}

.book__footer {
    font-size: 12px;
    line-height: 100px;
    text-align: center;
    color: rgba(51, 51, 51, 0.5);
}

/* _____________________________________________________________ */

.section__slider {
    background-image: url(../img/slider-bg.jpg);
    background-color:black;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color:#fff;
}

.title2{
    line-height: 100px;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.section__slider-container {
    display: flex;
    flex-direction:row;
    padding: 0 81px 100px 205px;
    min-width: 0;
    justify-content: center;
}

.row6 {
    flex: 0 1 475px;
    min-height: 475px;
    background-image: url(../img/slider-img.jpg);
    filter: drop-shadow(0px 0px 50px #000000);
    border-radius: 5px;
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    position: relative;
    margin-right: 80px;
}

.row6:after {
    content: "";
    display: block;
    width: 250px;
    height: 250px;
    background-color: transparent;
    border: 20px solid #E8C300;
    filter: drop-shadow(0px 0px 100px #000000);
    border-radius: 5px;
    position: absolute;
    transform: translateX(-50%);
    top: 23%;
    left:0%;
}

.row7 {
    flex:  0 1 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}
/* настраиваем слайдер  */
.slider {
    position: relative;
    min-width: 0;
}

.slick-track {
    display: flex;
    align-items:center;
}
.slick-list {
    overflow: hidden;
}
/* .slider .slick-arrow {
    position:absolute;
    top: 50%;
    z-index: 10;
    font-size: 0;
} */

/* .slider .slick-arrow.slick-prev{
    left: 0;
}

.slider .slick-arrow.slick-next{
    right: 0;
} */

.slider .slick-dots{
    display: flex;
    align-items:center;
    justify-content: center;
    position: absolute;
    bottom: 5%;
    left: 50%;
}
.slider .slick-dots li{
    list-style: none;
    margin-right:25px;
}
.slider .slick-dots button{
    font-size: 0;
    width: 12px;
    height: 12px;
    background-color:rgba(255, 255, 255, 0.5);
    border-radius:50%;
    border:none;
    outline: none;
    transition: .5s;
}

.slider .slick-dots li.slick-active button{
    background-color:#fff;
}
/* ____________________________________________________________ */


.section__tabs {
    display: flex;
    flex-direction: column;
    /* нужно 100 */
    margin: 40px auto;
    align-items: center;
    justify-content: center;

}

.subtitle5 {
    max-width: 565px;
}

.tabs__menu {
    margin-bottom: 30px;
}

.tabs__menu-item {
    display: flex;
    list-style: none;
}

.tabs__menu-item li{
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    border-right: 1px solid rgba(51, 51, 51, 0.2);
}

.tabs__menu-item li:last-child {
    border-right: none;
}

.tabs__menu-item li a {
    color:#333333;
    display: block;
    padding:19px 40px 19px 40px;
    text-align: center;
}

.tabs__menu-item li a:hover {
    background-color:#E8C300;
}

.tabs__menu-item li a:active {
    background-color:#E8C300;
}

.tabs {width: 100%;
    margin-bottom: 40px;
        padding: 0 10px}

.grid__container {
    width: 100%;
    margin-top: 30px;
    display: none;
    grid-template-columns: auto auto auto;
    /* grid-template-columns: 25% 25% 25%; */
    /* нужно 66 */
    grid-template-rows: repeat(7,50px); 
    grid-column-gap: 3%;
    grid-row-gap:3%;
    justify-content: space-around;
    align-content: center;
}

h4 {
font-family: 'BannyRound';
font-size: 18px;
line-height: 18px;
color: #333333;
white-space: nowrap;
}

h4::after {
    content:" . . . 55,68$";
    font-family: "Open Sans", serif;
    font-size:17px;
}

.p {
    font-size: 12px;
    line-height: 18px;
    text-align: left;
    color:rgba(51, 51, 51, 0.5);
    white-space: nowrap;
}

.grid__container div{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.grid__container:target {
    display: grid;
}

.tabs {
    padding-right: 10px;
    padding-left: 10px;
}

/* _______________________________________________ */

.section__private-events {
    width: 100%;
    min-height: 675px;
    background-image: url(../img/private-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    color:#fff;
}

.section__private-events-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 0 auto;
    text-align: center;
    padding: 0px 205px;
    justify-content: center;
}

.row8{
    flex: 0 1 475px;
    min-height: 475px;
    background-image: url(../img/private-img1.jpg);
    filter: drop-shadow(0px 0px 50px #000000);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    border-radius: 5px;
    position: relative;
    margin-right: 80px;
}

.row9 {
    flex: 0 1 475px;
    min-height: 475px;
    background-image: url(../img/private-img2.jpg);
    filter: drop-shadow(0px 0px 50px #000000);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    border-radius: 5px;
    position: relative;
}

.row8:after {
    content: "";
    display: block;
    width: 250px;
    height: 250px;
    background-color: transparent;
    border: 20px solid #E8C300;
    filter: drop-shadow(0px 0px 90px #000000);
    border-radius: 5px;
    position: absolute;
    transform: translateX(-50%);
    top: 23%;
    left:0%;
}

.row9:after {
    content: "";
    display: block;
    width: 250px;
    height: 250px;
    background-color: transparent;
    border: 20px solid #E8C300;
    filter: drop-shadow(0px 0px 90px #000000);
    border-radius: 5px;
    position: absolute;
    transform: translateX(-50%);
    top: 23%;
    left:100%;
}

.row8::before {
    content: "WEDDINGS";
    font-family: 'BannyRound';
    display: block;
    width: 112%;
    height: 16.667%;
    background-color:#000000;
    font-size: 24px;
    line-height: 12px;
    transform: rotate(90deg);
    display: flex;
    align-items: center;    
    text-indent: 20px;
    text-transform: uppercase;
    position: absolute;
    color:#fff;
    top: 42%;
    left: 36%;
    border-radius:5px;
}

.row9::before {
    content: "corporate parties";
    font-family: 'BannyRound';
    display: block;
    width: 112%;
    height: 16.667%;
    background-color:#000000;
    font-size: 24px;
    line-height: 12px;
    transform: rotate(270deg);
    display: flex;
    align-items: center;    
    text-indent: 20px;
    text-transform: uppercase;
    position: absolute;
    color:#fff;
    top: 42%;
    left: -48%;
    border-radius:5px;
    white-space: nowrap;
}

.info {
    color:rgba(255, 255, 255, 0.5);
    font-size: 12px;
    line-height: 100px;
}

/* _________________________________________________________ */

.galery {
    width: 100%;
    height: 360px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: -10px auto 0 auto;
    align-items:center;
    justify-content: center;
}

.img1 {
    flex: 1 1 auto;
    height: 360px;
    background-image: url(../img/galery-img1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    transition: .7s;
}

.img2 {
    flex: 1 1 auto;
    height: 360px;
    background-image: url(../img/galery-img2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
}


.img3 {
    flex: 1 1 auto;
    height: 360px;
    background-image: url(../img/galery-img3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
}


.img4 {
    flex: 1 1 auto;
    height: 360px;
    background-image: url(../img/galery-img4.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
}

/* ______________________________________________________________ */

.section__contact {
    padding: 100px 80px;
}

.form2 {
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
}

.contacts {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: row;
    max-width: 100%;
}

.rowOne {
    width: 100%;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items:center;
}

.rowOne input[type="tel"] {
    margin-right: 0;
}

.form__text {
    flex: 1 1 29%;
    margin-right: 10px;
}

.form__mail {
    flex: 1 1 29%;
    margin-right: 10px;
}

.form__tel{
    flex: 1 1 29%;
}

.comments {
    font-family: 'Open Sans', sans-serif;
    flex-basis: 1 1 100%;
    min-width:100%;
    min-height: 120px;
    margin-bottom: 10px;
    background-color: #E5E5E5;
    color: rgba(51, 51, 51, 0.5);;
    outline: none;
    border: none;
    font-size:14px;
    line-height: 19px;
    border-radius:5px;
    text-indent: 20px;
}

.rowTwo{
    width: 100%;
    display: flex;
    flex-direction:row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items:center;
}

.rowTwo p {
    flex-basis: auto;
    font-weight: 700;
    font-size: 12px;
    line-height: 19px;
    color: rgba(51, 51, 51, 0.5);
}

.p i{
    color:#E8C300;
    font-weight: bold;
    font-size: 14px;
    line-height: 14px;
}

.p .fa-phone {
    transform: rotate(-90deg);
}

.rowTwo .submit2 {
    max-width: 50%;
    /* min-width: 44.44%; */
    margin-bottom: none;
    margin-right: -15px;
    color:#fff;
    background-color: #E8C300;
    font-size: 12px;    
    font-weight: 700;
    line-height: 20px;
    text-align: center;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items:center;
}

/* ______________________________________________________________ */

.location {
    width: 100%;
    max-height: 475px;
    position:relative;
}


footer p{
    width: 100%;
display: flex;
flex-direction: row;
justify-content:center;
align-items:center;
height: 100px;
font-size: 12px;
line-height: 15px;
font-weight: 700;
text-align: center;
background-color: rgba(0, 0, 0, 0.9);
color: #fff;
}

footer a{
    text-decoration: none;
    color: #fff;
    margin-left: 20px;
    margin-right: 20px;
}

footer a:hover {
    color:#E8C300;
}

.nomer, .time {
    font-weight: bold;
    font-size: 14px;
}


/* @media (max-width: 1024px){
    .title {
    font-size: 65px;
    line-height: 100px;
}

    .section__about {
        padding: 40px 150px 40px 10px;
    }

    .row1 {
        margin-left: 30px;
    }

    .row2 {
        height: 300px;
    }
} */

